@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 80px;
    font-weight: 900;
    line-height: 6rem;
}

/* header area */
header{
    background-image: url(resources/BannerImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 800px;
    width: 85%;
    background-position: center;
    display: flex;
    align-items: center;
    margin: 70px auto;
    border-radius: 15px;
}

.banner_area{
    height: 800px;
    width: 100%;
    display: flex;
    border-radius: 15px;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.banner_area .banner_content{
    text-align: center;
    margin: 0 auto;
}

.banner_area .banner_content h3{
    margin-bottom: 10px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 400;
}

/* main area */
#discount{
    width: 650px;
    margin: 100px auto;
    text-align: center;
}

#discount .discount_items h1{
    color: #F00;
    font-family: Inter;
    font-size: 90px;
    font-style: italic;
    font-weight: 700;
    margin:30px 0;
}

#discount .discount_items h3{
    color: #F00;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    margin: 10px;
}

#discount .discount_items h2{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin: 35px;
}

#discount .discount_items img{
    width: 99%;
}

#welcome{
    width: 85%;
    margin: 20px auto;
    display: flex;
    height: 550px;
    background-position: center;
    justify-content: space-around;
    background: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    align-items: center;
}

#welcome .welcome_text{
    margin-left: -100px;
}

#welcome .welcome_text h1{
    line-height: 6.5rem;
}

#welcome .welcome_text p{
    color: #D4DCE4;
    font-family: Inter;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

#welcome .welcome_text button{
    margin-left: 20px;
    padding: 15px 25px;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
}

#address{
    width: 85%;
    height: 500px;
    margin: 50px auto;
    background-color: #FFE8E8;
    text-align: center;
    border-radius: 10px;
}

#address .address_content{
    padding-top: 120px;;
}

#address .address_content h3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
    letter-spacing: 2px;
}

#address .address_content h3 span{
    color: #F00;
}

#address .address_content button{
    color: #FFF;
    margin-top: 30px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 25px;
    background-color: #F00;
    border-radius: 6px;
}

#new_offer{
    width: 85%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new_offer .new_left h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
}

#new_offer .new_left h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
}

#new_offer .new_left p{
    color: #11121F;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


#new_offer> img{
    width: 400px;
    height: 400px;
    margin: auto;
    background: none;
    border: 20px solid #F00;
    border-radius: 50%;
    padding: 25px 25px;
    width: 420px;
    height: 420px;
}

#new_offer .new_end{
    text-align: left;
}

#new_offer .new_end h1{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
}

#new_offer .new_end p{
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

#new_offer .new_end img{
    margin-top: 40px;
}

#holiday_sale{
    width: 85%;
    height: 900px;
    margin: 50px auto;
    background: url(resources/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}

#holiday_sale .holiday_heading{
    text-align: center;
    margin-top: 40px;
}

#holiday_sale .holiday_heading h3{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

#holiday_sale .holiday_heading h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

#holiday_sale .holiday_heading h1 span{
    color: #F00;
    margin-bottom: 40px;
}

#holiday_sale .holiday_heading p{
    color: #11121F;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px;
}

#holiday_sale .img_1{
    width: 600px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 160px;
}

#holiday_sale .img_2{
    position: absolute;
    bottom: 210px;
    right: 400px;
    z-index: 100;
}


#holiday_sale .img_3{
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 229zpx;
    right: 149px;
}
#portfolio_area{
    width: 85%;
    margin: 100px auto;
    text-align: left;
}

#portfolio_area .portfolio_heading{
    margin-bottom: 60px;
}

#portfolio_area .portfolio_heading h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    margin: 20px;
}

#portfolio_area .portfolio_heading h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 10px;
}

#portfolio_area .portfolio_heading p{
    color: #11121F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#portfolio_area .portfolio_imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#portfolio_area .portfolio_imgs img{
    width: 520px;
    transition: 1s all;
}

#portfolio_area .portfolio_imgs img:hover{
    transform: scale(1.1);
}

#subscribe_area{
    width: 85%;
    margin: 70px auto;
    background: #FFF2F2;
    padding: 150px 0;
}

#subscribe_area .subscribe_heading{
    text-align: center;
}

#subscribe_area .subscribe_heading img{
    padding-bottom: 10px;
}

#subscribe_area .subscribe_heading h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

#subscribe_area .subscribe_heading p{
    color: #11121F;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

#subscribe_area .subscribe_heading form{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: left;
}

#subscribe_area .subscribe_heading form input{
    padding: 15px 100px;
    text-align: left;
}


















